# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# 
bin/

# c9.io
.c9/

# Other
*.sym
*.map
*.lde
*.hxl
*.cof
*.mcw
*.mcs
/CodeX.X/nbproject/private/
/CodeX.X/build/default/
/CodeX.X/dist/default/

# Kicad
*.bak
